@page
@model WebApp.DiagnosisListModel
@{
    ViewData["Title"] = "DiagnosisList";
}

<h2>Diagnosis for @Model.Patient.Name</h2>
<a class="btn btn-success mb-2" asp-page="./DiagnosisEdit" asp-route-patientId="@Model.Patient.Id">Add diagnose</a>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date Of Test</th>
            <th scope="col">Viruses</th>
            <th scope="col">Recovered</th>
            <th scope="col">Date Recovered</th>
            <th scope="col">Death</th>
            <th scope="col">Date of Death</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diagnose in Model.Patient.Diagnosis)
        {
        <tr>
            <td>@diagnose.DateOfTest</td>
            <td>
                @foreach (var virus in diagnose.DiagnosisViruses)
                {
                    @(virus.Virus.Name + " ")
                }
            </td>
            <td>@diagnose.Recovered</td>
            <td style="visibility:@(diagnose.Recovered? "visible" : "hidden")">@diagnose.DateRecover</td>
            <td>@diagnose.Death</td>
            <td style="visibility:@(diagnose.Recovered? "hidden" : "show")">@diagnose.DateOfDeath</td>
            <td>
                <a class="btn btn-primary" asp-page="./DiagnosisEdit" asp-route-id="@diagnose.Id" asp-route-patientId="@Model.Patient.Id">Edit
                </a>
                <form asp-page-handler="DeleteDiagnosis" asp-route-id="@diagnose.Id" method="post" class="d-inline">
                    <button type="submit" onclick="return confirm('Delete Diagnosis ?');" class="btn btn-danger d-inline-block">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
    <tfoot style="visibility:@(Model.Patient.Diagnosis.Count()==0? "visible":"hidden")">
        <tr>
            <td colspan="4">There are no diagnosis for this patient</td>
        </tr>
    </tfoot>
</table>


<a class="btn btn-primary" asp-page="/Hospitals/PatientsInHospital" asp-route-id="@Model.Patient.HospitalId">
    Back
</a>


