@page
@model WebApp.Pages.Statistics.RecoveryRateModel
@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.RecoveryRate.Select(x => x.Recovered).ToList());
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.RecoveryRate.Select(x => x.TotalPatients).ToList());

    ViewData["Title"] = "RecoveryRate";
}


@section Styles{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
}

<div class="row justify-content-around">
    <div class="card text-white bg-primary mb-3" style="min-width: 12rem; text-align:center">
        <div class="card-header" style="font-size:2rem">Cases</div>
        <div class="card-body">
            <h5 class="card-title" style="font-size:5rem">@Model.Diagnoses.Count()</h5>
        </div>
    </div>
    <div class="card text-white bg-success mb-3" style="min-width: 12rem; text-align:center">
        <div class="card-header" style="font-size:2rem">Recovered</div>
        <div class="card-body">
            <h5 class="card-title" style="font-size:5rem">@Model.Recovered.Count()</h5>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="min-width: 12rem; text-align:center">
        <div class="card-header" style="font-size:2rem">Deaths</div>
        <div class="card-body">
            <h5 class="card-title" style="font-size:5rem">@Model.Deaths.Count()</h5>
        </div>
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="./Statistic">Per Cities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./MaleFemale">Male:Female</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./InHospital">In Hospital</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./GroupByAge">By Age</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Recovery Rate</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="box-body">
            <div class="chart-container">
                <canvas id="chart" style="width:100%; height:480px"></canvas>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">

        $(function () {
    var chartName = "chart";
        var ctx = document.getElementById(chartName).getContext('2d');
        var data = {
                labels: @Html.Raw(XLabels),
                datasets: [{
                    label: "Drinks Chart",
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)'

                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)'

                    ],
                    borderWidth: 1,
                    data: @Html.Raw(YValues)
    }]
            };

var options = {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,164,0.2)"
                        }
}],
                    xAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                }
            };

       var myChart = new  Chart(ctx, {
                options: options,
                data: data,
                type:'pie'

            });
        });
    </script>



}