@page "{id:int}"
@model WebApp.Pages.Hospitals.PatientsInHospitalModel
@{
    ViewData["Title"] = "PatientsInHospital";
}

<h2>Patients Checked in Hospital @Model.Hospital.Name</h2>

<a class="btn btn-primary mb-2" asp-page="/Patients/AddPatient" asp-route-id="@Model.Hospital.Id">Add Patient</a>

<table class="table">

    <thead>
        <tr>
            <th>
                Patient Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Birth Date
            </th>
            <th>
                City
            </th>
            <th>

            </th>
        </tr>
    </thead>
    @foreach (var item in Model.Hospital.Patients)
    {
     <tr>
         <td>
              @item.Name
         </td>
         <td>
              @item.Gender
         </td>
         <td>
             @item.BirthDate.Day / @item.BirthDate.Month / @item.BirthDate.Year
         </td>
         <td>
              @item.City
         </td>
         <td>
             <a class="btn btn-primary" asp-route-id="@item.Id" asp-page="/Diagnosis/DiagnosisList">See All Diagnosis</a>
             <a class="btn btn-primary" asp-page="/Patients/EditPatient" asp-route-id="@item.Id">
                 <i class="fas fa-edit"></i>
             </a>
             <form asp-page-handler="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
                 <button type="submit" onclick="return confirm('Do you really want to delete this Patient? ');" class="btn btn-danger d-inline-block">
                     <i class="fas fa-trash"></i>
                 </button>
             </form>
         </td>
     </tr>
    }

</table>

